@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
div,
input,
textarea,
button,
select,
a {
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  font-family: 'Poppins', sans-serif;
}

.font-amiri {
  font-family: 'Amiri', serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.shadow-custom {
  box-shadow: rgba(48, 129, 234, 0.1) 0px 48px 100px 0px;
}

.shadow-footer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 48px 100px 0px;
}

.shape-1 {
  @apply w-[100px] h-[100px] lg:w-[200px] lg:h-[200px] ;
  border-radius: 0% 100% 42% 42% / 25% 50% 50% 65%;
}

.shape-2 {
  @apply w-[200px] h-[200px] ;
  border-radius: 32% 37% 30% 0% / 41% 0% 47% 25%;
}